@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: "Skranji", serif;
  --color-invert: black;
  --form-padding: 30px;
  color: white;
}

body {
  font-family: var(--system-font);
  display: flex;
}

em {
  font-style: italic;
}

p {
  font-size: 14pt;
  margin-block: var(--form-block-margin);
}

.hero-img {
  background-image: url(images/pine-bg.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 30vw;
}

.hero-logo {
  margin-top: 10vh;
  width: 100%;
  height: 125px;
  background-color: rgb(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

h1,
h2 {
  font-family: var(--logo-font, --system-font);
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}

.hero-footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.hero-footer > p {
  text-align: center;
}

.hero-footer > p > a {
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 70vw;
  background: linear-gradient(
    270deg,
    rgb(37, 77, 54) 0%,
    rgb(73, 148, 105) 100%
  );
}

.form-hdr {
  padding-inline: var(--form-padding);
}

.form-bdy {
  height: 100px;
  width: 100%;
  padding: var(--form-padding);
  background-color: white;
  box-shadow: 0px 1px 5px black;
  color: var(--color-invert);
}

.form-ftr {
  padding-inline: var(--form-padding);
}
