@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: "Skranji", serif;
  --color-invert: black;
  color: white;
}

body {
  font-family: var(--system-font);
  display: flex;
}

em {
  font-style: italic;
}

.hero-img {
  background-image: url(images/pine-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 30vw;
}

.hero-logo {
  margin-top: 10vh;
  width: 100%;
  height: 125px;
  background-color: rgb(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

h1 {
  font-family: var(--logo-font, --system-font);
  font-size: 5em;
}

.hero-footer {
  text-align: center;
}

.hero-footer > p > a {
  color: white;
}

.form-container {
  height: 100vh;
  width: 70vw;
  background: linear-gradient(
    270deg,
    rgb(37, 77, 54) 0%,
    rgb(73, 148, 105) 100%
  );
}

.form-bdy {
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  color: var(--color-invert);
}
