:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-font);
  display: flex;
}

.hero-img {
  background-image: url(images/pine-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 30vw;
}

.hero-img > div {
  position: relative;
  top: 10%;
  width: 100%;
  height: 125px;
  background-color: black;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

.form-container {
  height: 100vh;
  width: 70vw;
  background: linear-gradient(
    270deg,
    rgb(37, 77, 54) 0%,
    rgb(95, 192, 137) 100%
  );
}
